<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body onload="startGame()">
      <div>
        <h1>HTML5 igra</h1>
        <h2>Cilj: Pogoditi sve mete</h2>
      </div>
        <script src="/javascripts/site.js"></script>
    </body>
</html>
